oxford
{
background-color:skyblue;
width:150%;
}
student
{
display:block;
margin-bottom:50pt;
margin-left:0;
}
nme,rollnum
{
color:black;
font-size:15pt;
}
course,place
{
color:grey;
font-size:25pt;
}